/*style sheet for google home page */
html, body {
    background-color: #fff ;
    margin: 0px;
    padding: 0px;
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 230px;
    cursor: pointer;

}

.input {
    display: grid;
    grid-gap: 37px;
    grid-template-rows: 40px;
    position: relative;
    top: 250px;

}
.container {

    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.mic {
    position: absolute;
    height: 20px;
    left: 520px;
    top: 13px;
}

.magnify {
    opacity: 40%;
    height: 17px;
    width: 20px;
    position: absolute;
    top: 13px;
    left: 10px;
}

.searchbar {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(173, 173, 173);
    border-radius: 50px;
    border-color:lightgrey;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 555px;
    height: 45px;
    cursor: pointer;
    outline: 0;
    padding: 0px 45px 0px 40px;
    
}
.searchbar:hover {
    box-shadow: 0px 3px 9px rgb(207, 207, 207);

}

.button-grid {

    display: grid;
    grid-template-columns: 140px 140px;
    grid-gap: 13px;
    height: 35px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-color: black;   
    
}
.button-search {
    font-size: 15px;
    border: 0px;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    background-color: #f2f2f2;
    color: #5F6368;
    cursor: pointer;
    outline: 0px;
}

.button-search:hover {
    border-color: lightgray;
    border-style: solid;
    box-shadow: 0px 1px 5px rgb(170, 170, 170);
}

.button-search:active {
    box-shadow: 0 0.1px 1px #666;
    transform: translateY(1px);
}

header {
    margin: 0;
    padding: 0;
    
    
}
ul {
    list-style-type: none;   
    
}

.Top {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    
    position: relative;
    top: 5px;
}
.About {
    position: absolute;
    left: 1%;
    

}
.Store {
    position: absolute;
    left: 4%;
    


}
.Gmail {
    position: absolute;
    left: 87%;
    


}
.Images {
    position: absolute;
    left: 90%;
    
}

.onHover{
    color: black;
    text-decoration: none;
}
.onHover:hover {
    text-decoration: underline;
    color: rgb(83, 83, 83);
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0px 3px 5px grey;
    border-style: solid;
    border-width: 1px;
    border-color:lightgrey;
    height: 40px;
    padding: 0;
    margin: 0;

    
}

.bottom-left {
 
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
}
.bottom-right {
    float: right;
    width: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
    margin: 0;
    
}

@media (min-width: 500px) {
    .bottom {
        flex-direction: column;
    }
    body > footer {
        border: 50px 0px 30px 0px;
    }
}

.Advertising {
    
    color: #666;
    font-family: Arial, sans-serif;

    position: fixed;
    left: 0.2%;
}

.Business {
    
    
    color: #666;
    font-family: Arial, sans-serif;

    position: fixed;
    left: 5%;
}

.How {
    
    color: #666;
    font-family: Arial, sans-serif;
    position: fixed;
    left: 9%;

}

.Privacy {
     
    color: #666;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    

}

.Terms {
      
    color: #666;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    

}

.Settings {
     
    color: #666;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    

}
/*
.button-luck {
    font-size: 15px;
    border: 0px;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    background-color: #f2f2f2;
    color: #5F6368;
    cursor: pointer;
}

.button-luck:hover {
    border-color: lightgray;
    border-width: 0.2px;
    border-style: solid;
    box-shadow: 0px 1px 1px lightgray;
}
*/









